@import '@shared/ui/reusable.scss';

.delta {
  @include text_12;

  width: max-content;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 1px 4px 0 4px;
  border-radius: 4px;
  background-color: rgba(var(--blue-rgb), 0.1);
  color: var(--blue);

  &_increase {
    background-color: rgba(var(--green-rgb), 0.1);
    color: var(--green);

    & > img {
      width: 12px;
      height: 12px;
      filter: var(--green-filter);
    }
  }

  &_decrease {
    background-color: rgba(var(--red-rgb), 0.1);
    color: var(--red);

    & > img {
      width: 12px;
      height: 12px;
      filter: var(--red-filter);
      transform: rotate(180deg);
    }
  }
}
