@import '@shared/ui/reusable.scss';

.anchor {
  height: 40px;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid var(--gray4);
  cursor: pointer;
  transition: all 100ms;

  & > img {
    width: 22px;
    height: 22px;
  }

  & > div {
    width: 1px;
    height: 100%;
    background-color: var(--gray4);
  }

  & > img:nth-child(3) {
    filter: var(--gray3-filter);
    transform: rotate(-90deg);
    transition: all 200ms;
  }

  &:hover {
    border: 1px solid var(--gray3);
    background-color: var(--gray5);

    & > img:nth-child(3) {
      filter: var(--gray2-filter);
    }
  }

  &:focus,
  &:active {
    border: 1px solid var(--gray2);
    background-color: var(--gray5);

    & > img:nth-child(3) {
      filter: var(--gray1-filter);
    }
  }

  &_open {
    border: 1px solid var(--gray2);
    background-color: var(--gray5);

    & > img:nth-child(3) {
      filter: var(--gray1-filter);
      transform: rotate(-270deg);
    }

    &:hover {
      border: 1px solid var(--gray2);
      background-color: var(--gray5);

      & > img:nth-child(3) {
        filter: var(--gray1-filter);
      }
    }
  }
}

.container {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 8px;
}

.address {
  display: flex;
  flex-direction: column;
  gap: 4px;

  & > div:nth-child(1) {
    @include text_12;

    color: var(--gray3);
  }

  & > div:nth-child(2) {
    @include text_14;
    @include text_medium;

    display: flex;
    gap: 8px;
    color: var(--black);
  }
}

.horizontal {
  border-top: 1px solid var(--gray5);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.row {
  @include text_12;

  display: flex;
  align-items: center;
  gap: 4px;
  color: var(--gray3);

  & > div:nth-child(1) {
    width: 40%;
  }

  & > div:nth-child(2) {
    width: 60%;
  }
}

.actions {
  align-self: center;
}
