@import '@shared/ui/reusable.scss';

.extended {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.normal {
  display: flex;
  align-items: center;
  gap: 8px;

  & > img {
    width: 22px;
    height: 22px;
  }
}

.primary {
  display: flex;
  align-items: center;
  gap: 8px;

  & > img {
    width: 20px;
    height: 20px;
  }

  & > div > span {
    color: var(--gray4);
  }
}

.secondary {
  @include text_12;

  display: flex;
  justify-content: space-between;
  gap: 12px;
  color: var(--gray3);

  & > div:nth-child(2) {
    text-align: end;
  }
}
